{% extends '_layouts/base.html' %}

{% block title %}{{ headline }} | Search Results | {{ block.super }}{% endblock title %}

{% block headline %}
<h2>I see you Searched{{object}}</h2>
{% endblock headline %}

{% block content %}
	<ul class="list-group">
            {% for object in searchobject %}
            <li class="list-group-item">
                <a href="{{ object.get_absolute_url }}">{{ object.first_name}} {{ object.last_name}}</a>
            </li>
            {% empty %}
            <li class="list-group-item">You have no contact that match the query</li>
            {% endfor %}
    </ul>
	
{% endblock content %}

